<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background-color: black; color: white;">

    <header>
      <nav>
        <a style="color: white" href="/">Home</a>
        <a style="color: white" href="/about">About</a>
        <a style="color: white" href="/contact">Contact</a>
        <a style="color: white" href="/info">Info</a>
        <a style="color: white" href="/history">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>